@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /*main BG*/
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  /*card BG*/
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  /*line*/
  --Very-dark-blue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--Very-dark-blue-main);
  color: white;
  font-family: 'Outfit', sans-serif;
}

.main-container {
  background-color: var(--Very-dark-blue-card);
  width: 235px;
  padding: 15px;
  border-radius: 14px;
}

.main-container .main-img {
  width: 205px;
  border-radius: 8px;
}

.main-container h1 {
  font-size: 1.5rem;
  margin-top: 1.4rem;
}

.main-container .main-text {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 300;
  color: var(--Soft-blue);
  margin-top: 1.4rem;
}

.main-container .eth {
  display: flex;
  color: var(--Cyan);
  align-items: center;
}

.main-container .eth img {
  height: 1.2rem;
  margin-top: 13px;
  margin-right: 5px;
}

.main-container .eth p {
  font-size: 1rem;
  margin-top: 1.5rem;
}